#root {
  margin: 0 auto;
  width: 100%;
  margin-top: 0;
  /* padding: 2rem; */
  /* text-align: center; */
  --charcoal: #122620;
  --cream: #f4ebd0;
  --tan: #b68d40;
  --gold: #d6ad60;
}

.card {
  background: var(--gold);
  /* background: linear-gradient(180deg, rgba(165, 161, 223, 1) 0%,
      rgba(165, 161, 223, 0.3) 100%); */
  color: var(--charcoal);
  margin: .5rem;
  border-radius: .5rem;
  max-width: 400px;
  min-width: 330px;
  height: 100%;
}

.description {
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-wrap: wrap;
}

.cardImg {
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.prep-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: .5rem;
  margin-bottom: 0;
}

.time {
  padding-left: .5rem;
  margin: 0;
}

.cardTitle {
  margin-top: .5rem;
  margin-bottom: 0;
}

.title-time {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fa {
  padding-right: 1px;
  color: aliceblue;
}

.clock {
  color: var(--charcoal);
  font-size: larger;
}

.checked {
  color: yellow;
}

.rating {
  padding-left: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gold);
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--charcoal);
}

.mainContainer {
  margin: 0 auto;
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 items per row */
  row-gap: .5rem;
}

.searchbar-icon {
  position: absolute;
  right: 30px;
  top: 49px;
  background-color: transparent;
  color: var(--charcoal);
  cursor: pointer;
}

input[type=text] {
  padding: 9px;
  border: none;
  font-size: 18px;
  background-color: var(--cream);
  color: var(--charcoal);
  text-align: left;
  text-indent: 8px;
  outline: none;
}

.searchbar , input[type=text] {
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  
}

@media screen and (max-width:1040px) {
  .mainContainer {
    grid-template-columns: repeat(2, 1fr); /* 2 items per row */
  }
}

@media screen and (max-width:700px) {
  .mainContainer {
    grid-template-columns: auto;
  }
  
}





/* flytta över allt? */
.subscription {
  margin-bottom: 2rem;
}

.subscription h3 {
  color: var(--gold);
}

.subscription-form input {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 30px;
  border: none;
  width: 250px;
}

.subscription-form button {
  background-color: var(--charcoal);
  color: var(--gold);
  padding: 1rem;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 1rem;
  border-top: 1px solid var(--tan);
}

.company-info, .footer-links, .social-media {
  margin-bottom: 1rem;
}

.footer-links a, .social-media a {
  color: var(--cream);
  text-decoration: none;
  margin: 0 0.5rem;
}

.social-media a:hover {
  color: var(--gold);
}

.logo {
  max-width: 50px;
}

.footer {
  background-color: var(--charcoal);
  color: var(--gold); 
  padding: 1rem;
  text-align: center;
  margin-top: 1rem; 
}

.logo-text-container {
  display: flex;
  align-items: center; 
}

.logo {
  max-width: 50px;
  margin-right: 1rem; 
}

.company-details {
  text-align: left; 
}

.company-details p {
  margin: 0; 
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 1.5rem; 
}

.social-media a {
  color: var(--cream); 
  font-size: 2rem; 
  text-decoration: none;
}

.social-media a:hover {
  color: var(--gold); 
}

